div.span4,div.span8,div.span12{border:1px solid #888;border-radius:3px} 
body
        {
            font-family: Arial;
            font-size: 10pt;
        }
        .pgr a, .pgr span
        {
            display: block;
            height: 20px;
            width: 20px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
        }
        .pgr a
        {
            background-color: #f5f5f5;
            color: #969696;
            border: 1px solid #969696;
        }
        .pgr span
        {
            background-color: #A1DCF2;
            color: #000;
            border: 1px solid #3AC0F2;
        }